{% extends 'base.html.twig' %}

{% block title %}Read {{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda distinctio dolor dolore labore maxime officia perspiciatis quidem sed voluptate? Debitis et fuga omnis quidem quisquam reprehenderit soluta vitae voluptates.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at cumque in nemo nesciunt totam voluptate! Alias beatae est itaque mollitia nam necessitatibus neque rem? Asperiores et laudantium modi neque?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, autem cumque doloremque earum eligendi facere itaque maxime nisi odit quaerat quidem rem rerum suscipit temporibus tenetur veniam voluptate voluptatem.</p>
</div>

<div>
    <h1>Comments ({{ comments|length }})</h1>
    {% for comment in comments %}
        <p>{{ comment }}</p>
    {% endfor %}
</div>
{% endblock %}